@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  header {
    position: relative;
    width: 100%;
    height: 15vh;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
  }
  nav .leftNav {
    display: flex;
    align-items: flex-end;
    width: 60%;
  }
  nav .leftNav .navElements {
    display: none;
    flex-direction: row;
    margin-left: 3rem;
  }
  nav .leftNav .navElements li {
    list-style: none;
    padding: 1rem;
  }
  nav .leftNav .navElements li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 500;
  }
  nav .leftNav .navElements li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .login {
    display: none;
    align-items: center;
    width: 15%;
  }
  nav .login .loginNav {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    height: 4vh;
  }
  nav .login .loginNav li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1rem;
  }
  nav .login .loginNav li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 500;
  }
  nav .login .loginNav li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .login .loginNav li.signUp {
    background-color: hsl(180deg, 66%, 49%);
    border-radius: 50px;
    cursor: pointer;
  }
  nav .login .loginNav li.signUp:hover {
    background-color: hsl(180deg, 66%, 49%);
    opacity: 0.5;
  }
  nav .login .loginNav li.signUp:hover a {
    color: hsl(0deg, 0%, 100%);
  }
  nav .login .loginNav li.signUp a {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 70px;
    color: hsl(0deg, 0%, 100%);
  }
  nav .openMobileMenu {
    display: block;
  }
  nav .mobileMen {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0%;
    width: 100%;
    height: 100%;
    /* border-radius: 15px; */
    z-index: 999;
    background: rgba(0, 0, 0, 0.67);
  }
  nav .mobileMen .loginNavMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  nav .mobileMen .loginNavMob .signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 6dvh;
    background-color: hsl(180deg, 66%, 49%);
    border-radius: 20px;
  }
  nav .mobileMen .mobileMenItems {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 10%;
    width: 85%;
    height: 55%;
    border-radius: 15px;
    background-color: hsl(257deg, 27%, 26%);
    z-index: 999;
  }
  nav .mobileMen .mobileMenItems .closeMobile {
    display: flex;
    width: 75%;
    justify-content: flex-end;
    color: hsl(0deg, 0%, 100%);
  }
  nav .mobileMen .mobileMenItems .navElementsMob {
    border-bottom: 1px solid hsl(257deg, 7%, 63%);
    width: 75%;
  }
  nav .mobileMen .mobileMenItems li {
    list-style: none;
    padding: 1rem;
  }
  nav .mobileMen .mobileMenItems li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
  }
  nav .mobileMen .mobileMenItems li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .mobileMen .mobileMenItems li.signUp a {
    background-color: hsl(180deg, 66%, 49%);
  }
}
@media (min-width: 600px) {
  header {
    position: relative;
    width: 100%;
    height: 15vh;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
  }
  nav .leftNav {
    display: flex;
    align-items: flex-end;
    width: 60%;
  }
  nav .leftNav .navElements {
    display: none;
    flex-direction: row;
    margin-left: 3rem;
  }
  nav .leftNav .navElements li {
    list-style: none;
    padding: 1rem;
  }
  nav .leftNav .navElements li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 500;
  }
  nav .leftNav .navElements li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .login {
    display: none;
    align-items: center;
    width: 15%;
  }
  nav .login .loginNav {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    height: 4vh;
  }
  nav .login .loginNav li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1rem;
  }
  nav .login .loginNav li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 500;
  }
  nav .login .loginNav li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .login .loginNav li.signUp {
    background-color: hsl(180deg, 66%, 49%);
    border-radius: 50px;
    cursor: pointer;
  }
  nav .login .loginNav li.signUp:hover {
    background-color: hsl(180deg, 66%, 49%);
    opacity: 0.5;
  }
  nav .login .loginNav li.signUp:hover a {
    color: hsl(0deg, 0%, 100%);
  }
  nav .login .loginNav li.signUp a {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 70px;
    color: hsl(0deg, 0%, 100%);
  }
  nav .openMobileMenu {
    display: block;
  }
  nav .mobileMen {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0%;
    width: 100%;
    height: 100%;
    /* border-radius: 15px; */
    z-index: 999;
    background: rgba(0, 0, 0, 0.67);
  }
  nav .mobileMen .loginNavMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  nav .mobileMen .loginNavMob .signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 6dvh;
    background-color: hsl(180deg, 66%, 49%);
    border-radius: 20px;
  }
  nav .mobileMen .mobileMenItems {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 10%;
    width: 85%;
    height: 55%;
    border-radius: 15px;
    background-color: hsl(257deg, 27%, 26%);
    z-index: 999;
  }
  nav .mobileMen .mobileMenItems .closeMobile {
    display: flex;
    width: 75%;
    justify-content: flex-end;
    color: hsl(0deg, 0%, 100%);
  }
  nav .mobileMen .mobileMenItems .navElementsMob {
    border-bottom: 1px solid hsl(257deg, 7%, 63%);
    width: 75%;
  }
  nav .mobileMen .mobileMenItems li {
    list-style: none;
    padding: 1rem;
  }
  nav .mobileMen .mobileMenItems li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
  }
  nav .mobileMen .mobileMenItems li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .mobileMen .mobileMenItems li.signUp a {
    background-color: hsl(180deg, 66%, 49%);
  }
}
@media (min-width: 992px) {
  header {
    width: 100%;
    height: 15vh;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
  }
  nav .leftNav {
    display: flex;
    align-items: flex-end;
    width: 60%;
  }
  nav .leftNav .navElements {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
  }
  nav .leftNav .navElements li {
    list-style: none;
    padding: 1rem;
  }
  nav .leftNav .navElements li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 500;
  }
  nav .leftNav .navElements li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .login {
    display: flex;
    align-items: center;
    width: 15%;
  }
  nav .login .loginNav {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    height: 4vh;
  }
  nav .login .loginNav li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1rem;
  }
  nav .login .loginNav li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 500;
  }
  nav .login .loginNav li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .login .loginNav li.signUp {
    background-color: hsl(180deg, 66%, 49%);
    border-radius: 50px;
    cursor: pointer;
  }
  nav .login .loginNav li.signUp:hover {
    background-color: hsl(180deg, 66%, 49%);
    opacity: 0.5;
  }
  nav .login .loginNav li.signUp:hover a {
    color: hsl(0deg, 0%, 100%);
  }
  nav .login .loginNav li.signUp a {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 70px;
    color: hsl(0deg, 0%, 100%);
  }
  nav .openMobileMenu {
    display: none;
  }
  nav .mobileMen {
    display: none;
  }
}
@media (min-width: 1200px) {
  header {
    width: 100%;
    height: 15vh;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
  }
  nav .leftNav {
    display: flex;
    align-items: flex-end;
    width: 60%;
  }
  nav .leftNav .navElements {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
  }
  nav .leftNav .navElements li {
    list-style: none;
    padding: 1rem;
  }
  nav .leftNav .navElements li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 500;
  }
  nav .leftNav .navElements li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .login {
    display: flex;
    align-items: center;
    width: 15%;
  }
  nav .login .loginNav {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    height: 4vh;
  }
  nav .login .loginNav li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1rem;
  }
  nav .login .loginNav li a {
    text-decoration: none;
    color: hsl(257deg, 7%, 63%);
    font-weight: 500;
  }
  nav .login .loginNav li a:hover {
    color: hsl(255deg, 11%, 22%);
    font-weight: 700;
  }
  nav .login .loginNav li.signUp {
    background-color: hsl(180deg, 66%, 49%);
    border-radius: 50px;
    cursor: pointer;
  }
  nav .login .loginNav li.signUp:hover {
    background-color: hsl(180deg, 66%, 49%);
    opacity: 0.5;
  }
  nav .login .loginNav li.signUp:hover a {
    color: hsl(0deg, 0%, 100%);
  }
  nav .login .loginNav li.signUp a {
    display: flex;
    align-items: center;
    height: 4vh;
    width: 70px;
    color: hsl(0deg, 0%, 100%);
  }
  nav .openMobileMenu {
    display: none;
  }
  nav .mobileMen {
    display: none;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 600px) {
  .urlInput {
    width: 35vh;
    height: 5vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 1rem;
  }
  .shorturlButton {
    width: 35vh;
    height: 5vh;
    margin-top: 10px;
    margin-left: 0rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(180deg, 66%, 49%);
    cursor: pointer;
  }
  .shorturlButton:hover {
    background-color: rgb(141, 228, 228);
    mix-blend-mode: normal;
  }
  .copyButton {
    background-color: hsl(180deg, 66%, 49%);
    border: none;
    outline: none;
    height: 4vh;
    width: 100%;
    border-radius: 5px;
    margin-left: 0rem;
    margin-top: 1rem;
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
  }
  .copyButton:hover {
    background-color: rgb(141, 228, 228);
  }
  .copyButton.copied {
    background-color: hsl(257deg, 27%, 26%);
  }
}
@media (min-width: 600px) {
  .urlInput {
    width: 35vh;
    height: 4vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 1rem;
  }
  .shorturlButton {
    width: 35vh;
    height: 4vh;
    margin-top: 10px;
    margin-left: 0rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(180deg, 66%, 49%);
    cursor: pointer;
  }
  .shorturlButton:hover {
    background-color: rgb(141, 228, 228);
    mix-blend-mode: normal;
  }
  .copyButton {
    background-color: hsl(180deg, 66%, 49%);
    border: none;
    outline: none;
    height: 4vh;
    width: 100%;
    border-radius: 5px;
    margin-left: 0rem;
    margin-top: 1rem;
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
  }
  .copyButton:hover {
    background-color: rgb(141, 228, 228);
  }
  .copyButton.copied {
    background-color: hsl(257deg, 27%, 26%);
  }
}
@media (min-width: 992px) {
  .urlInput {
    width: 50vh;
    height: 5vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 4rem;
  }
  .shorturlButton {
    width: 10vh;
    height: 5vh;
    margin-left: 1rem;
    margin-top: 0;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(180deg, 66%, 49%);
    cursor: pointer;
  }
  .shorturlButton:hover {
    background-color: rgb(141, 228, 228);
    mix-blend-mode: normal;
  }
  .copyButton {
    background-color: hsl(180deg, 66%, 49%);
    border: none;
    outline: none;
    height: 4vh;
    width: 25%;
    border-radius: 5px;
    margin-left: 2rem;
    margin-top: auto;
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
  }
  .copyButton:hover {
    background-color: rgb(141, 228, 228);
  }
  .copyButton.copied {
    background-color: hsl(257deg, 27%, 26%);
  }
}
@media (min-width: 1200px) {
  .urlInput {
    width: 55vh;
    height: 5vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 4rem;
  }
  .shorturlButton {
    width: 15vh;
    height: 5vh;
    margin-left: 1rem;
    margin-top: 0;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(180deg, 66%, 49%);
    cursor: pointer;
  }
  .shorturlButton:hover {
    background-color: rgb(141, 228, 228);
    mix-blend-mode: normal;
  }
  .copyButton {
    background-color: hsl(180deg, 66%, 49%);
    border: none;
    outline: none;
    height: 4vh;
    width: 25%;
    border-radius: 5px;
    margin-left: 2rem;
    margin-top: 0rem;
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
  }
  .copyButton:hover {
    background-color: rgb(141, 228, 228);
  }
  .copyButton.copied {
    background-color: hsl(257deg, 27%, 26%);
  }
}
@media (max-width: 600px) {
  body {
    height: 100%;
    overflow-x: hidden;
  }
  .topContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 75vh;
  }
  .topContent .leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0rem;
  }
  .topContent .leftContent h1 {
    color: hsl(255deg, 11%, 22%);
    font-size: 25px;
  }
  .topContent .leftContent p {
    width: 60%;
    color: hsl(257deg, 7%, 63%);
    font-size: 15px;
    font-weight: 500;
  }
  .topContent .leftContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 60%;
    border-radius: 50px;
    background-color: hsl(180deg, 66%, 49%);
    text-decoration: none;
    color: hsl(0deg, 0%, 100%);
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
  .topContent .leftContent a:hover {
    opacity: 0.5;
  }
  .topContent .rightContent {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55vh;
  }
  .topContent .rightContent img {
    margin-right: 0;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: -2rem;
  }
  .middleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f0f1f6;
  }
  .middleContent .shortUrl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 15vh;
    border-radius: 15px;
    margin-top: -4rem;
    background: url(../images/bg-shorten-mobile.svg), hsl(257deg, 27%, 26%);
    background-repeat: no-repeat;
    background-position: right;
  }
  .middleContent .shortUrl .inpForm {
    display: flex;
    flex-direction: column;
  }
  .middleContent .shortUrl .error {
    display: none;
    width: 78%;
    margin-bottom: -2rem;
    font-size: 13px;
    color: hsl(0deg, 87%, 67%);
  }
  .middleContent .linksWrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .middleContent .linksWrapper .shortenLinks {
    width: 100%;
  }
  .middleContent .linksWrapper .shortenLinks li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 1rem;
    background-color: hsl(0deg, 0%, 100%);
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    color: hsl(260deg, 8%, 14%);
    font-size: 15px;
  }
  .middleContent .linksWrapper .shortenLinks li .shortLink {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    color: hsl(180deg, 66%, 49%);
    margin-top: 1rem;
    border-top: 1px solid hsl(0deg, 0%, 75%);
    padding-top: 1rem;
  }
  .middleContent .statisticsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  .middleContent .statisticsContent .statisticTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .middleContent .statisticsContent .statisticTop h2 {
    font-weight: 700;
    font-size: 35px;
  }
  .middleContent .statisticsContent .statisticTop p {
    width: 70%;
    text-align: center;
    color: hsl(257deg, 7%, 63%);
  }
  .middleContent .statisticsContainers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
    margin-top: 5rem;
  }
  .middleContent .statisticsWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 40vh;
    background-color: hsl(0deg, 0%, 100%);
    z-index: 2;
    padding: 2rem;
  }
  .middleContent .statisticsWrap:nth-child(2) {
    margin-top: 5rem;
  }
  .middleContent .statisticsWrap:nth-child(3) {
    margin-top: 10rem;
  }
  .middleContent .statisticsWrap h3 {
    margin-top: -1rem;
    color: hsl(260deg, 8%, 14%);
    text-align: center;
    width: 100%;
  }
  .middleContent .statisticsWrap p {
    margin-top: 1rem;
    color: hsl(257deg, 7%, 63%);
    font-size: 16px;
    text-align: center;
  }
  .middleContent .imageTop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(257deg, 27%, 26%);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    top: -38px;
    left: 39%;
  }
  .middleContent .connectLine {
    position: absolute;
    display: block;
    top: 170vh;
    height: 122%;
    width: 1vh;
    background-color: hsl(180deg, 66%, 49%);
    z-index: 1;
  }
  .bottomContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 26vh;
    background: url(../images/bg-boost-mobile.svg), hsl(257deg, 27%, 26%);
    background-position: center;
    background-size: cover;
  }
  .bottomContent h3 {
    color: hsl(0deg, 0%, 100%);
    font-size: 30px;
  }
  .bottomContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 40%;
    border-radius: 50px;
    text-decoration: none;
    background-color: hsl(180deg, 66%, 49%);
    color: hsl(0deg, 0%, 100%);
    margin-top: 2rem;
  }
  .bottomContent a:hover {
    background-color: rgb(141, 228, 228);
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: hsl(260deg, 8%, 14%);
  }
  footer .footerContent img {
    fill: aqua;
  }
  footer .footerNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
  footer .footerNavItems {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  footer .footerNavItems li {
    list-style: none;
  }
  footer .footerNavItems a {
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
    text-decoration: none;
  }
  footer .attribution {
    width: 100%;
  }
  footer .socials {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  footer .socials a {
    text-decoration: none;
    color: hsl(0deg, 0%, 100%);
    height: 20%;
  }
  footer .socials a:hover {
    color: hsl(180deg, 66%, 49%);
  }
  footer .secondUl {
    margin-top: 1rem;
  }
  footer .secondUl a {
    font-weight: 500;
    font-size: 14px;
    color: hsl(0deg, 0%, 75%);
  }
  footer .secondUl a:hover {
    color: hsl(180deg, 66%, 49%);
  }
}
@media (min-width: 600px) {
  body {
    height: 100%;
    overflow-x: hidden;
  }
  .topContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 75vh;
  }
  .topContent .leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0rem;
  }
  .topContent .leftContent h1 {
    color: hsl(255deg, 11%, 22%);
    font-size: 25px;
  }
  .topContent .leftContent p {
    width: 60%;
    color: hsl(257deg, 7%, 63%);
    font-size: 15px;
    font-weight: 500;
  }
  .topContent .leftContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 60%;
    border-radius: 50px;
    background-color: hsl(180deg, 66%, 49%);
    text-decoration: none;
    color: hsl(0deg, 0%, 100%);
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
  .topContent .leftContent a:hover {
    opacity: 0.5;
  }
  .topContent .rightContent {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55vh;
  }
  .topContent .rightContent img {
    margin-right: 0;
    width: 100%;
    height: 100%;
  }
  .middleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f0f1f6;
  }
  .middleContent .shortUrl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 15vh;
    border-radius: 15px;
    margin-top: -3rem;
    background: url(../images/bg-shorten-mobile.svg), hsl(257deg, 27%, 26%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  .middleContent .shortUrl .inpForm {
    display: flex;
    flex-direction: column;
  }
  .middleContent .shortUrl .error {
    display: none;
    width: 55%;
    margin-bottom: -2rem;
    font-size: 13px;
    color: hsl(0deg, 87%, 67%);
  }
  .middleContent .linksWrapper {
    display: flex;
    align-items: center;
    width: 55%;
  }
  .middleContent .linksWrapper .shortenLinks {
    width: 100%;
  }
  .middleContent .linksWrapper .shortenLinks li {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 1rem;
    background-color: hsl(0deg, 0%, 100%);
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    color: hsl(260deg, 8%, 14%);
    font-size: 15px;
  }
  .middleContent .linksWrapper .shortenLinks li .shortLink {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    color: hsl(180deg, 66%, 49%);
    margin-top: 1rem;
    border-top: 1px solid hsl(0deg, 0%, 75%);
    padding-top: 1rem;
  }
  .middleContent .statisticsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  .middleContent .statisticsContent .statisticTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .middleContent .statisticsContent .statisticTop h2 {
    font-weight: 700;
    font-size: 35px;
  }
  .middleContent .statisticsContent .statisticTop p {
    width: 70%;
    text-align: center;
    color: hsl(257deg, 7%, 63%);
  }
  .middleContent .statisticsContainers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
    margin-top: 5rem;
  }
  .middleContent .statisticsWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 40vh;
    background-color: hsl(0deg, 0%, 100%);
    z-index: 2;
    padding: 2rem;
  }
  .middleContent .statisticsWrap:nth-child(2) {
    margin-top: 5rem;
  }
  .middleContent .statisticsWrap:nth-child(3) {
    margin-top: 10rem;
  }
  .middleContent .statisticsWrap h3 {
    width: 100%;
    text-align: center;
    margin-top: -1rem;
    color: hsl(260deg, 8%, 14%);
    margin-top: -7rem;
    font-size: 40px;
  }
  .middleContent .statisticsWrap p {
    margin-top: 1rem;
    color: hsl(257deg, 7%, 63%);
    font-size: 26px;
    text-align: center;
  }
  .middleContent .imageTop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(257deg, 27%, 26%);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    top: -38px;
    left: 44%;
  }
  .middleContent .connectLine {
    position: absolute;
    display: block;
    top: 136%;
    height: 125%;
    width: 1vh;
    background-color: hsl(180deg, 66%, 49%);
    z-index: 1;
  }
  .bottomContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 26vh;
    background: url(../images/bg-boost-mobile.svg), hsl(257deg, 27%, 26%);
    background-position: center;
    background-size: cover;
  }
  .bottomContent h3 {
    color: hsl(0deg, 0%, 100%);
    font-size: 30px;
  }
  .bottomContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 40%;
    border-radius: 50px;
    text-decoration: none;
    background-color: hsl(180deg, 66%, 49%);
    color: hsl(0deg, 0%, 100%);
    margin-top: 2rem;
  }
  .bottomContent a:hover {
    background-color: rgb(141, 228, 228);
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: hsl(260deg, 8%, 14%);
  }
  footer .footerContent img {
    fill: aqua;
  }
  footer .footerNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
  footer .footerNavItems {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  footer .footerNavItems li {
    list-style: none;
  }
  footer .footerNavItems a {
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
    text-decoration: none;
  }
  footer .attribution {
    width: 100%;
  }
  footer .socials {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  footer .socials a {
    text-decoration: none;
    color: hsl(0deg, 0%, 100%);
    height: 20%;
  }
  footer .socials a:hover {
    color: hsl(180deg, 66%, 49%);
  }
  footer .secondUl {
    margin-top: 1rem;
  }
  footer .secondUl a {
    font-weight: 500;
    font-size: 14px;
    color: hsl(0deg, 0%, 75%);
  }
  footer .secondUl a:hover {
    color: hsl(180deg, 66%, 49%);
  }
}
@media (min-width: 992px) {
  body {
    height: 100%;
    overflow-x: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .topContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 75vh;
  }
  .topContent .leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4rem;
    text-align: left;
  }
  .topContent .leftContent h1 {
    color: hsl(255deg, 11%, 22%);
    font-size: 85px;
  }
  .topContent .leftContent p {
    width: 60%;
    color: hsl(257deg, 7%, 63%);
    font-size: 20px;
    font-weight: 500;
  }
  .topContent .leftContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 20%;
    border-radius: 50px;
    background-color: hsl(180deg, 66%, 49%);
    text-decoration: none;
    color: hsl(0deg, 0%, 100%);
    margin-top: 2rem;
  }
  .topContent .leftContent a:hover {
    opacity: 0.5;
  }
  .topContent .rightContent {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 55vh;
  }
  .topContent .rightContent img {
    width: auto;
    height: auto;
    margin-right: -4rem;
  }
  .middleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f0f1f6;
  }
  .middleContent .shortUrl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    height: 15vh;
    border-radius: 15px;
    margin-top: -4rem;
    background: url(../images/bg-shorten-desktop.svg), hsl(257deg, 27%, 26%);
  }
  .middleContent .shortUrl .error {
    display: none;
    width: 78%;
    margin-bottom: -2rem;
    font-size: 13px;
    color: hsl(0deg, 87%, 67%);
  }
  .middleContent .shortUrl .inpForm {
    display: flex;
    flex-direction: row;
  }
  .middleContent .linksWrapper {
    display: flex;
    align-items: center;
    width: 55%;
  }
  .middleContent .linksWrapper .shortenLinks {
    width: 100%;
  }
  .middleContent .linksWrapper .shortenLinks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    padding: 1rem;
    background-color: hsl(0deg, 0%, 100%);
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    color: hsl(260deg, 8%, 14%);
    font-size: 15px;
  }
  .middleContent .linksWrapper .shortenLinks li .shortLink {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    width: 50%;
    color: hsl(180deg, 66%, 49%);
    border: none;
    margin-top: 0;
    padding-top: 0;
  }
  .middleContent .statisticsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  .middleContent .statisticsContent .statisticTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .middleContent .statisticsContent .statisticTop h2 {
    font-weight: 700;
    font-size: 35px;
  }
  .middleContent .statisticsContent .statisticTop p {
    width: 36%;
    text-align: center;
    color: hsl(257deg, 7%, 63%);
  }
  .middleContent .statisticsContainers {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 4rem;
    margin-top: 0rem;
  }
  .middleContent .statisticsWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 38vh;
    height: 28vh;
    background-color: hsl(0deg, 0%, 100%);
    z-index: 2;
    padding: 2rem;
  }
  .middleContent .statisticsWrap:nth-child(2) {
    margin-top: 5rem;
  }
  .middleContent .statisticsWrap:nth-child(3) {
    margin-top: 10rem;
  }
  .middleContent .statisticsWrap h3 {
    margin-top: -1rem;
    color: hsl(260deg, 8%, 14%);
    font-size: 22px;
  }
  .middleContent .statisticsWrap p {
    margin-top: 1rem;
    color: hsl(257deg, 7%, 63%);
    font-size: 16px;
  }
  .middleContent .imageTop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(255deg, 11%, 22%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    top: -38px;
    left: 35%;
  }
  .middleContent .connectLine {
    position: absolute;
    display: block;
    height: 1vh;
    width: 50%;
    top: 50%;
    background-color: hsl(180deg, 66%, 49%);
    z-index: 1;
  }
  .bottomContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 26vh;
    background: url(../images/bg-boost-desktop.svg), hsl(257deg, 27%, 26%);
    background-size: cover;
  }
  .bottomContent h3 {
    color: hsl(0deg, 0%, 100%);
    font-size: 40px;
  }
  .bottomContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 10%;
    border-radius: 50px;
    text-decoration: none;
    background-color: hsl(180deg, 66%, 49%);
    color: hsl(0deg, 0%, 100%);
    margin-top: 2rem;
  }
  .bottomContent a:hover {
    background-color: rgb(141, 228, 228);
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 35vh;
    background-color: hsl(260deg, 8%, 14%);
  }
  footer .footerContent img {
    fill: aqua;
  }
  footer .footerNav {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 4rem;
  }
  footer .footerNavItems {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  footer .footerNavItems li {
    list-style: none;
  }
  footer .footerNavItems a {
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
    text-decoration: none;
  }
  footer .attribution {
    width: 100%;
  }
  footer .socials {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  footer .socials a {
    text-decoration: none;
    color: hsl(0deg, 0%, 100%);
    height: 20%;
  }
  footer .socials a:hover {
    color: hsl(180deg, 66%, 49%);
  }
  footer .secondUl {
    margin-top: 1rem;
  }
  footer .secondUl a {
    font-weight: 500;
    font-size: 17px;
    color: hsl(0deg, 0%, 75%);
  }
  footer .secondUl a:hover {
    color: hsl(180deg, 66%, 49%);
  }
}
@media (min-width: 1200px) {
  body {
    height: 100%;
    overflow-x: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .topContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 75vh;
  }
  .topContent .leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4rem;
    text-align: left;
  }
  .topContent .leftContent h1 {
    color: hsl(255deg, 11%, 22%);
    font-size: 85px;
  }
  .topContent .leftContent p {
    width: 60%;
    color: hsl(257deg, 7%, 63%);
    font-size: 20px;
    font-weight: 500;
  }
  .topContent .leftContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 20%;
    border-radius: 50px;
    background-color: hsl(180deg, 66%, 49%);
    text-decoration: none;
    color: hsl(0deg, 0%, 100%);
    margin-top: 2rem;
  }
  .topContent .leftContent a:hover {
    opacity: 0.5;
  }
  .topContent .rightContent {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 55vh;
  }
  .topContent .rightContent img {
    width: auto;
    height: auto;
    margin-right: -4rem;
  }
  .middleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f0f1f6;
  }
  .middleContent .shortUrl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 58%;
    height: 15vh;
    border-radius: 15px;
    margin-top: -4rem;
    background: url(../images/bg-shorten-desktop.svg), hsl(257deg, 27%, 26%);
  }
  .middleContent .shortUrl .error {
    display: none;
    width: 60%;
    margin-top: 1rem;
    font-size: 13px;
    color: hsl(0deg, 87%, 67%);
  }
  .middleContent .shortUrl .inpForm {
    display: flex;
    flex-direction: row;
  }
  .middleContent .linksWrapper {
    display: flex;
    align-items: center;
    width: 55%;
  }
  .middleContent .linksWrapper .shortenLinks {
    width: 100%;
  }
  .middleContent .linksWrapper .shortenLinks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    padding: 1rem;
    background-color: hsl(0deg, 0%, 100%);
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    color: hsl(260deg, 8%, 14%);
    font-size: 15px;
  }
  .middleContent .linksWrapper .shortenLinks li .shortLink {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    border: none;
    width: 50%;
    margin-top: auto;
    padding-top: auto;
    color: hsl(180deg, 66%, 49%);
  }
  .middleContent .statisticsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  .middleContent .statisticsContent .statisticTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .middleContent .statisticsContent .statisticTop h2 {
    font-weight: 700;
    font-size: 35px;
  }
  .middleContent .statisticsContent .statisticTop p {
    width: 36%;
    text-align: center;
    color: hsl(257deg, 7%, 63%);
  }
  .middleContent .statisticsContainers {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 4rem;
    margin-top: 0rem;
  }
  .middleContent .statisticsWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 38vh;
    height: 28vh;
    background-color: hsl(0deg, 0%, 100%);
    z-index: 2;
    padding: 2rem;
  }
  .middleContent .statisticsWrap:nth-child(2) {
    margin-top: 5rem;
  }
  .middleContent .statisticsWrap:nth-child(3) {
    margin-top: 10rem;
  }
  .middleContent .statisticsWrap h3 {
    margin-top: -1rem;
    color: hsl(260deg, 8%, 14%);
  }
  .middleContent .statisticsWrap p {
    margin-top: 1rem;
    color: hsl(257deg, 7%, 63%);
    font-size: 16px;
  }
  .middleContent .imageTop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(255deg, 11%, 22%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    top: -38px;
    left: 35%;
  }
  .middleContent .connectLine {
    position: absolute;
    display: block;
    height: 1vh;
    width: 50%;
    top: 50%;
    background-color: hsl(180deg, 66%, 49%);
    z-index: 1;
  }
  .bottomContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 26vh;
    background: url(../images/bg-boost-desktop.svg), hsl(257deg, 27%, 26%);
    background-size: cover;
  }
  .bottomContent h3 {
    color: hsl(0deg, 0%, 100%);
    font-size: 40px;
  }
  .bottomContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 10%;
    border-radius: 50px;
    text-decoration: none;
    background-color: hsl(180deg, 66%, 49%);
    color: hsl(0deg, 0%, 100%);
    margin-top: 2rem;
  }
  .bottomContent a:hover {
    background-color: rgb(141, 228, 228);
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 35vh;
    background-color: hsl(260deg, 8%, 14%);
  }
  footer .footerContent img {
    fill: aqua;
  }
  footer .footerNav {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 4rem;
  }
  footer .footerNavItems {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  footer .footerNavItems li {
    list-style: none;
  }
  footer .footerNavItems a {
    font-weight: 700;
    color: hsl(0deg, 0%, 100%);
    text-decoration: none;
  }
  footer .attribution {
    width: 100%;
  }
  footer .socials {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
  footer .socials a {
    text-decoration: none;
    color: hsl(0deg, 0%, 100%);
    height: 20%;
  }
  footer .socials a:hover {
    color: hsl(180deg, 66%, 49%);
  }
  footer .secondUl {
    margin-top: 1rem;
  }
  footer .secondUl a {
    font-weight: 500;
    font-size: 17px;
    color: hsl(0deg, 0%, 75%);
  }
  footer .secondUl a:hover {
    color: hsl(180deg, 66%, 49%);
  }
}/*# sourceMappingURL=style.css.map */