@use "../abstracts/color" as *;
@use "../abstracts/brakepoints" as *;
//top navigation

@include sm {
	header {
		position: relative;
		width: 100%;
		height: 15vh;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 15vh;
		.leftNav {
			display: flex;
			align-items: flex-end;
			width: 60%;
			.navElements {
				display: none;
				flex-direction: row;
				margin-left: 3rem;
				li {
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 500;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
				}
			}
		}
		.login {
			display: none;
			align-items: center;
			width: 15%;
			.loginNav {
				display: flex;
				flex-direction: row;
				margin-left: 3rem;
				height: 4vh;
				li {
					display: flex;
					align-items: center;
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 500;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
					&.signUp {
						background-color: $cyan;
						border-radius: 50px;
						cursor: pointer;
						&:hover {
							background-color: $cyan;
							opacity: 0.5;
							a {
								color: $white;
							}
						}
						a {
							display: flex;
							align-items: center;
							height: 4vh;
							width: 70px;
							color: $white;
						}
					}
				}
			}
		}
		.openMobileMenu {
			display: block;
		}
		.mobileMen {
			position: fixed;
			display: none;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			top: 0%;
			width: 100%;
			height: 100%;
			/* border-radius: 15px; */
			z-index: 999;
			background: rgb(0 0 0 / 67%);
			.loginNavMob {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				.signUp {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 60%;
					height: 6dvh;
					background-color: $cyan;
					border-radius: 20px;
				}
			}
			.mobileMenItems {
				position: fixed;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				top: 10%;
				width: 85%;
				height: 55%;
				border-radius: 15px;
				background-color: $darkviolet;
				z-index: 999;
				.closeMobile {
					display: flex;
					width: 75%;
					justify-content: flex-end;
					color: $white;
				}
				.navElementsMob {
					border-bottom: 1px solid $grayishViolet;
					width: 75%;
				}
				li {
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 700;
						color: $white;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
					&.signUp {
						a {
							background-color: $cyan;
						}
					}
				}
			}
		}
	}
}

@include md {
	header {
		position: relative;
		width: 100%;
		height: 15vh;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 15vh;
		.leftNav {
			display: flex;
			align-items: flex-end;
			width: 60%;
			.navElements {
				display: none;
				flex-direction: row;
				margin-left: 3rem;
				li {
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 500;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
				}
			}
		}
		.login {
			display: none;
			align-items: center;
			width: 15%;
			.loginNav {
				display: flex;
				flex-direction: row;
				margin-left: 3rem;
				height: 4vh;
				li {
					display: flex;
					align-items: center;
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 500;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
					&.signUp {
						background-color: $cyan;
						border-radius: 50px;
						cursor: pointer;
						&:hover {
							background-color: $cyan;
							opacity: 0.5;
							a {
								color: $white;
							}
						}
						a {
							display: flex;
							align-items: center;
							height: 4vh;
							width: 70px;
							color: $white;
						}
					}
				}
			}
		}
		.openMobileMenu {
			display: block;
		}
		.mobileMen {
			position: fixed;
			display: none;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			top: 0%;
			width: 100%;
			height: 100%;
			/* border-radius: 15px; */
			z-index: 999;
			background: rgb(0 0 0 / 67%);
			.loginNavMob {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				.signUp {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 60%;
					height: 6dvh;
					background-color: $cyan;
					border-radius: 20px;
				}
			}
			.mobileMenItems {
				position: fixed;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				top: 10%;
				width: 85%;
				height: 55%;
				border-radius: 15px;
				background-color: $darkviolet;
				z-index: 999;
				.closeMobile {
					display: flex;
					width: 75%;
					justify-content: flex-end;
					color: $white;
				}
				.navElementsMob {
					border-bottom: 1px solid $grayishViolet;
					width: 75%;
				}
				li {
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 700;
						color: $white;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
					&.signUp {
						a {
							background-color: $cyan;
						}
					}
				}
			}
		}
	}
}
@include lg {
	header {
		width: 100%;
		height: 15vh;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 15vh;
		.leftNav {
			display: flex;
			align-items: flex-end;
			width: 60%;
			.navElements {
				display: flex;
				flex-direction: row;
				margin-left: 3rem;
				li {
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 500;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
				}
			}
		}
		.login {
			display: flex;
			align-items: center;
			width: 15%;
			.loginNav {
				display: flex;
				flex-direction: row;
				margin-left: 3rem;
				height: 4vh;
				li {
					display: flex;
					align-items: center;
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 500;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
					&.signUp {
						background-color: $cyan;
						border-radius: 50px;
						cursor: pointer;
						&:hover {
							background-color: $cyan;
							opacity: 0.5;
							a {
								color: $white;
							}
						}
						a {
							display: flex;
							align-items: center;
							height: 4vh;
							width: 70px;
							color: $white;
						}
					}
				}
			}
		}
		.openMobileMenu {
			display: none;
		}
		.mobileMen {
			display: none;
		}
	}
}

//desktop
@include xl {
	header {
		width: 100%;
		height: 15vh;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 15vh;
		.leftNav {
			display: flex;
			align-items: flex-end;
			width: 60%;
			.navElements {
				display: flex;
				flex-direction: row;
				margin-left: 3rem;
				li {
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 500;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
				}
			}
		}
		.login {
			display: flex;
			align-items: center;
			width: 15%;
			.loginNav {
				display: flex;
				flex-direction: row;
				margin-left: 3rem;
				height: 4vh;
				li {
					display: flex;
					align-items: center;
					list-style: none;
					padding: 1rem;
					a {
						text-decoration: none;
						color: $grayishViolet;
						font-weight: 500;
						&:hover {
							color: $veryDarkBlue;
							font-weight: 700;
						}
					}
					&.signUp {
						background-color: $cyan;
						border-radius: 50px;
						cursor: pointer;
						&:hover {
							background-color: $cyan;
							opacity: 0.5;
							a {
								color: $white;
							}
						}
						a {
							display: flex;
							align-items: center;
							height: 4vh;
							width: 70px;
							color: $white;
						}
					}
				}
			}
		}
		.openMobileMenu {
			display: none;
		}
		.mobileMen {
			display: none;
		}
	}
}
